// media #{$small-only} { 
//     .form-right-column{
//       @include grid-column(
//         // Control the number of columns
//         $columns:3,
//         // Specify whether or not this is the last column in the row
//         // $last-column:false,
//         // Choose whether or not to center this column
//         // $center:true
//         // Choose the number of columns to offset this element by
//         $offset:1
//         // Specify how many columns to push this element past
//         // $push:3,
//         // Specify how many columns to pull this element past
//         // $pull:9,
//         // Set to true to remove column padding
//         // $collapse:true,
//         // Specify the float direction
//         // $float:right
//       );
//     }
// }

// @media #{$medium-up} { 
//     .form-right-column {
//       @include grid-column(
//         // Control the number of columns
//         $columns:2,
//         // Specify whether or not this is the last column in the row
//         // $last-column:false,
//         // Choose whether or not to center this column
//         // $center:true
//         // Choose the number of columns to offset this element by
//         $offset:1
//         // Specify how many columns to push this element past
//         // $push:3,
//         // Specify how many columns to pull this element past
//         // $pull:9,
//         // Set to true to remove column padding
//         // $collapse:true,
//         // Specify the float direction
//         // $float:right
//       );
//     }
// }

body {
    background: #e6f4f5;
}

.main {
    margin: 0 auto;
    
}

.wrapper{
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.container {
    padding: 0;
    background: #949393;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.2);
}

.right-column {
    padding-right:3px;
}

.tabs-content {
    background: #fff;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 3px;
}

ul.tabs, .tab-title , ul.tabs .active{
    border: none;
}

.tabs-content .row{
    margin: 0;
}

.users-column {
    margin: 0 !important;
}

.form-container {
    padding: 0;
}

.checkbox-label {
    margin: 0 !important;
}
