

$default-color: gray;
$font-color: darken($default-color, 60%);
$alt-font-color: #10698e;
$light-color: lighten($default-color, 20%);
$dark-color: darken($default-color, 20%);
$bg-color : #e6f4f5;
$button-color: #005b7f;
$information-color: blue;
$black-color: lighten(black, 5%);
$white-color: darken(white, 5%);

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $spread $color #{$inset};
      -moz-box-shadow:$top $left $blur $spread $color #{$inset};
      box-shadow:$top $left $blur $spread $color #{$inset};
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

body {
    background: $bg-color;
}

.main {
    margin: 0 auto;
    
}

.wrapper{
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.admin-button{
    ul{
        li{
            border: none;
        }
    }
}

.default-button {
    background-color: $button-color;
    @include rounded();
}

.container {
    padding: 0;
    background: #949393;
    -moz-border-radius: 8px;
    border-radius: 8px;
    @include box-shadow(5px, 5px, 9px, 0px, rgba(0, 0, 0, 0.2));
}

.right-column {
    padding-right:3px;
}

.tabs-content {
    background: #fff;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 3px;
}

ul.tabs, .tab-title , ul.tabs .active{
    border: none;
}

.tabs-content .row{
    margin: 0;
}

.users-column {
    margin: 0 !important;
}

.form-container {
    padding: 0;
}

.checkbox-label {
    margin: 0 !important;
}
