.main {
      @include grid-row(
        // Control the number of columns
        // $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        // $offset:3,
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        $behavior: collapse
        // Specify the float direction
        // $float:right
      );
    }

@media #{$medium-up} { 
    .container {
      @include grid-column(
        // Control the number of columns
        $columns:12,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        $center:true
        // Choose the number of columns to offset this element by
        // $offset:3,
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $:false
        // Specify the float direction
        // $float:right
      );
    }
} 

@media #{$medium-up} { 
    .right-column {
      @include grid-column(
        // Control the number of columns
        $columns:9,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        $center:true
        // Choose the number of columns to offset this element by
        // $offset:3,
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
      float: right;
    }
}

@media #{$medium-up} { 
    .left-column {
      @include grid-column(
        // Control the number of columns
        $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        $center:true
        // Choose the number of columns to offset this element by
        // $offset:3,
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
      float: left;
    }
}

@media #{$small-only} { 
    .admin-button {
      @include grid-column(
        // Control the number of columns
        $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:8
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .admin-button {
      @include grid-column(
        // Control the number of columns
        $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:9
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .users-column {
      @include grid-column(
        // Control the number of columns
        // $columns:6,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .users-column {
      @include grid-column(
        // Control the number of columns
        $columns:6,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .form-container {
      @include grid-column(
        // Control the number of columns
        $columns:12
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        // $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .form-label {
      @include grid-column(
        // Control the number of columns
        // $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .form-label {
      @include grid-column(
        // Control the number of columns
        $columns:4
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        // $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .user-input {
      @include grid-column(
        // Control the number of columns
        $columns:11,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        $center:true
        // Choose the number of columns to offset this element by
        // $offset:2
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$large-up} { 
    .user-input {
      @include grid-column(
        // Control the number of columns
        $columns:8
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        // $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .checkbox-label {
      @include grid-column(
        // Control the number of columns
        $columns:3,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .checkbox-label {
      @include grid-column(
        // Control the number of columns
        $columns:2,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .checkbox-item1 {
      @include grid-column(
        // Control the number of columns
        $columns:1,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .checkbox-item1 {
      @include grid-column(
        // Control the number of columns
        $columns:1,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:1
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .checkbox-item {
      @include grid-column(
        // Control the number of columns
        $columns:1,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:5
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .checkbox-item {
      @include grid-column(
        // Control the number of columns
        $columns:1,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:4
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$small-only} { 
    .save-cancel {
      @include grid-column(
        // Control the number of columns
        $columns:5,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:7
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

@media #{$medium-up} { 
    .save-cancel {
      @include grid-column(
        // Control the number of columns
        $columns:4,
        // Specify whether or not this is the last column in the row
        // $last-column:false,
        // Choose whether or not to center this column
        // $center:true
        // Choose the number of columns to offset this element by
        $offset:8
        // Specify how many columns to push this element past
        // $push:3,
        // Specify how many columns to pull this element past
        // $pull:9,
        // Set to true to remove column padding
        // $collapse:true,
        // Specify the float direction
        // $float:right
      );
    }
}

.save-button { 
    @include button(
        $padding: $button-tny
    );
}

.tabs.vertical {
    max-width: 100%;
    width: 100%;
}

.ul-wrapper {
    margin-right: -30px;
}

ul .active {
    border: 3px solid black;
    border-right: none;
    z-index: 0;
    position: relative;
    margin-right: -3px;
}

ul li {
    border: 3px solid black;
    margin: 3px 0 ;
    border-right: none;
}

@media only screen and (max-width: 40em) {
    ul li {
        border: 3px solid black;
        border-right:  3px solid black;
        margin-right: 0;
    }
}

@media only screen and (max-width: 40em) {
    ul .active {
        border: 3px solid black;
        border-right:  3px solid black;
        margin-right: 0;
    }
}

@media only screen and (max-width: 40em) {
    .ul-wrapper {
        margin-right: 0;
    }
}

.row-height {
    height: 150px;
}

.tabs-content {
    border: 3px solid black;
    z-index: 0;
}

